@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap");

.inter-tight {
  font-family: "Inter Tight", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body {
  font-family: "Inter Tight", serif;
  font-size: 1rem;
  line-height: 1.5;
  min-height: 100vh;
}
